body {
	text-align: center;
	background: #000;	
}

nav {
    background: #3798bf;
	height: 40px;
	margin-top: 40px;
	width: 100%;
	border-bottom: 2px solid #3798bf;
	/*position: sticky;
	-webkit-position: sticky;
	*/
	top: 0;
	line-height: 40px;
}

.top {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	padding: 0 20px 0 20px;
	margin: 0 10px;
}

.top:hover {
	color: black;
}

.container {
	min-height: 500px;
	max-height: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.logo {
	width: 600px;
	margin-top: 200px
}

.game {
	width: 300px;	
	font-family: Helvetica, sans-serif;
	color: white;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p {
	background: transparent;
	width: 300px;
	padding: 20px;
	margin: 0 auto;
	border: 1px solid transparent;
}
p:hover {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid white;
}

footer {
	background: #000;
	height: 10px;
	width: 100%;
    margin-top: 160px;
}

h3 {
	color: #3798bf;
	font-family: Helvetica, sans-serif;
	padding-top: 10px;
	border-top: 2px solid #3789bf;
}

