body {
	text-align: center;
}

h1 {
	font-family: Helvetica, sans-serif;
	margin: 20px auto;
	width: 500px;
	border-top: 2px solid #f15b31;
	color: #f15b31;
    padding: 8px;
    text-transform: uppercase;
}
 
h1:hover {
	color: #0d2c40;
} 

nav {
	background: #c8c8c8;
	height: 35px;
	padding-top: 20px;
}

a {
	text-decoration: none;
	color: #f15b31;
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	padding: 0 20px 0 20px;
}

a:hover {
	color: white;
}

