@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-weight: 500;
	font-family: 'HelveticaNeue', sans-serif;
	text-align: center;
}

nav {
  background: #3798bf;
	height: 40px;
	width: 100%;
	border-bottom: 2px solid #3798bf;
	position: sticky;
	-webkit-position: sticky;
	top: 0;
	line-height: 40px;
} 

.top {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 0 20px 0 20px;
	margin: 0 10px;
}

.top:hover {
	color: black;
} 

section {
	width: 100%;
	padding: 0 7%;
	display: table;
	margin: 0;
	max-width: none;
	background: #000000;
	height: 100vh;
}

section:nth-of-type(2n) {
	background: #3798bf;
}	

.intro {
	height: 93vh;
}

.content {
	display: table-cell;
	vertical-align: middle;
}

.myName {
	width: 60%;
	position: relative;
}

#theE {
	position: relative;
	width: 60%;
	margin-top: -9.2%;
	margin-bottom: 10%;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	animation-fill-mode:forwards;

	-webkit-animation-duration:4s;
	animation-duration:4s;
} 

h1 {
	font-size: 80px;
	display: block;
	color: white;
	font-weight: 400;
}

h4 {
	font-size: 28px;
	color: white;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .038em;
}

.subhed {
	margin-top: -10%;
}

footer {
	background: #000;
	height: 70px;
	width: 100%;
	margin-top: -20px;
}

h3 {
	color: #3798bf;
	font-family: Helvetica, sans-serif;
	padding-top: 10px;
	border-top: 2px solid #3789bf;
}

.brand {
	color: white;
	font-size: 20px;
	font-weight: 300;
}

.link {
	text-align: center;
	text-decoration: none;
}

.mugshot {
	border: 2px solid white;
	border-radius: 100%;
	height: 15%;
	margin: -100px 0 -40px 0;
}

p {
	position: relative;
	color: white;
}

.icon {
	width: 90px;
	padding: 0 6px 40px 6px;
	margin-bottom: 40px
}

.resume {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	text-decoration: none;
	font-size: 30px;
	color: white;
	font-weight: 900;
	padding: 2px 20px 2px 20px;
	margin-top: 80px;
	text-transform: uppercase;
}

.grid-container {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	width: 1200px;
}

.gif {
	width: 100%;
	height: auto;
	padding-left: 22px;
	float: left;
}
.container-item {
	display: grid;
}

p {
	color: white;
}