@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 500;
  font-family: 'HelveticaNeue', sans-serif;
  text-align: center;
}

nav {
  background: #3798bf;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid #3798bf;
  position: sticky;
  -webkit-position: -webkit-sticky;
  top: 0;
  line-height: 50px;
  z-index: 8;
}

.top {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 0 20px 0 20px;
  margin: 0 10px;
  font-size: 20px;
}

.top:hover {
  color: black;
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background: #000000;
  height: 100vh;
}

section:nth-of-type(2) {
  background: #3798bf;
}

.intro {
  height: 91vh;
  width: 100vw;
  background-color: black;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.svg-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

svg {
  margin-top: -10px;
  left: 50%;
  bottom: 0;
  width: 60%;
  height: 100%;
}

h1 {
  font-size: 48px;
  color: white;
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: uppercase;
}

h4 {
  font-size: 28px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.038em;
}

a {
	text-decoration: none;
	text-align: center;
	color: white;
}

footer {
  background: #3798bf;
  height: 210px;
  width: 100%;
  padding: 40px;
}

h3 {
  color: #3798bf;
  font-family: Helvetica, sans-serif;
  padding-top: 10px;
  border-top: 2px solid #3798bf;
}

.brand {
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin-top: 6px;
}

.link {
  text-align: center;
  text-decoration: none;
}

.mugshot {
  border: 2px solid white;
  border-radius: 100%;
  height: 40%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  text-align: left;
  margin-left: -30px;
  margin-top: -60px;
  color: white;
  font-size: 24px;
}

li {
  padding-top: 4px;
	margin-left: -5px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

li:hover { 
	-webkit-transform: scale(1.1); 
	        transform: scale(1.1); 
	margin-left: 10px;
	cursor: pointer;
}

.grid-container {
  display: inline-grid;
  width: 70%;
  margin: 0 auto;
  grid-template-columns: 70% 30%;
}

.grid-item {
  display: grid;
}

.right {
  margin-left: 60px;
  border-left: 1px solid white;
  height: 70vh;
  padding-left: 40px;
}

p {
  position: relative;
  color: white;
}

.contact {
  font-size: 40px;
  margin-top: -20px;
}

.icon {
  width: 120px;
  padding: 0 30px 40px 30px;
}

.skills {
  text-align: left;
  font-size: 36px;
  border-bottom: 1px solid white;
  height: 48px;
}

.resume {
  height: 40px;
  width: 180px;
  line-height: 35px;
  border: 1px solid white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 24px;
  background-color: white;
  color: #3798bf;
  padding: 2px 20px 2px 20px;
  text-transform: uppercase;
}

.resume:hover {
  background-color: #3798bf;
  color: white;
}

.gif {
  width: 70%;
  height: auto;
  margin: 0 auto;
  background-color: black;
  padding: 0px 20px 140px 20px;
}

.slides {
  margin-top: -130px;
  color: #fff;
}

.slideinfo {
  color: #fff;
  margin-top: -30px;
}

.css-carousel {
  position: relative;
  z-index: 1;
}

.css-carousel input[name='carousel'] {
  display: none;
}

.css-carousel .carousel-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.css-carousel .carousel-nav label {
  display: inline-block;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.css-carousel #carousel-1:checked ~ .carousel-nav label[for='carousel-1'] {
  background-color: #3798bf;
}

.css-carousel #carousel-2:checked ~ .carousel-nav label[for='carousel-2'] {
  background-color: #3798bf;
}

.css-carousel #carousel-3:checked ~ .carousel-nav label[for='carousel-3'] {
  background-color: #3798bf;
}

.css-carousel #carousel-4:checked ~ .carousel-nav label[for='carousel-4'] {
  background-color: #3798bf;
}

.css-carousel .carousel-slides {
  width: 100%;
  overflow: hidden;
}

.css-carousel .carousel-slides .carousel-inner {
  width: 400%;
  -webkit-transition: margin 1s;
  transition: margin 1s;
}

.css-carousel .carousel-slides .carousel-item {
  float: left;
  width: 25%;
}

.css-carousel #carousel-1:checked ~ .carousel-slides .carousel-inner {
  margin-left: 0%;
}

.css-carousel #carousel-2:checked ~ .carousel-slides .carousel-inner {
  margin-left: -100%;
}

.css-carousel #carousel-3:checked ~ .carousel-slides .carousel-inner {
  margin-left: -200%;
}

.css-carousel #carousel-4:checked ~ .carousel-slides .carousel-inner {
  margin-left: -300%;
}

@-webkit-keyframes colorChange {
  0% {
    fill: #3798bf;
  }
  25% {
    fill: #ffc742;
  }
  50% {
    fill: #ff6342;
  }
  75% {
    fill: #465bc9;
  }
  100% {
    fill: #3798bf;
  }
}

@keyframes colorChange {
  0% {
    fill: #3798bf;
  }
  25% {
    fill: #ffc742;
  }
  50% {
    fill: #ff6342;
  }
  75% {
    fill: #465bc9;
  }
  100% {
    fill: #3798bf;
  }
}

.box,
.cls-2 {
  -webkit-animation: colorChange 16s infinite;
          animation: colorChange 16s infinite;
}

@-webkit-keyframes drop {
  0% {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-0.5);
            transform: translateY(-0.5);
  }
  82% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes drop {
  0% {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-0.5);
            transform: translateY(-0.5);
  }
  82% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#theE {
  -webkit-animation-name: fadeIn, drop;
          animation-name: fadeIn, drop;
  -webkit-animation-duration: 2100ms, 4s;
          animation-duration: 2100ms, 4s;
  -webkit-animation-delay: 0ms, 2000ms;
          animation-delay: 0ms, 2000ms;
  -webkit-animation-timing-function: ease-in, ease-out;
          animation-timing-function: ease-in, ease-out;
  -webkit-animation-iteration-count: 1, 1;
          animation-iteration-count: 1, 1;
}

@-webkit-keyframes scroll {
  0%,
  20% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(36px) scaleY(2);
            transform: translateY(36px) scaleY(2);
    opacity: 0.01;
  }
}

@keyframes scroll {
  0%,
  20% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(36px) scaleY(2);
            transform: translateY(36px) scaleY(2);
    opacity: 0.01;
  }
}

.scroll-link {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
  margin-top: -4rem;
}

.scroll {
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  /* animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5); */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 20.5px;
          transform-origin: 50% 20.5px;
  will-change: transform;
}


$css-carousel: (
    slides: 4,
    transition-speed: 1s
);

.css-carousel {
    position: relative;

    // hide input radio fields
    input[name="carousel"] {
        display: none;
    }

    // carousel navigation
    .carousel-nav {
        position: absolute;
        
        bottom: -50px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1;

        label {
            display: inline-block;
            margin: 0 10px;
            width: 20px;
            height: 20px;
            border: 2px solid #fff;
            border-radius: 50%;
            cursor: pointer;
            -webkit-transition: background-color 0.25s;
            transition: background-color 0.25s;
        }
    }

    // active carousel navigation
    @for $i from 1 through map_get($css-carousel, slides) {
        #carousel-#{$i}:checked ~ .carousel-nav label[for="carousel-#{$i}"] {
            background-color: #3798bf;
        }
    }

    // carousel slides
    .carousel-slides {
        width: 100%;
        overflow: hidden;

        .carousel-inner {
            width: (100% * map_get($css-carousel, slides));
            -webkit-transition: margin map_get($css-carousel, transition-speed);
            transition: margin map_get($css-carousel, transition-speed);
            // margin-top: -30px;
        }

        .carousel-item {
            float: left;
            width: (100% / map_get($css-carousel, slides));
        }
    }

    // active carousel slides
    @for $i from 1 through map_get($css-carousel, slides) {
        #carousel-#{$i}:checked ~ .carousel-slides .carousel-inner {
            margin-left: (-100% * ($i - 1));
        }
    }
}

.gallery-container {
  display: inline-grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 90%;
  overflow: scroll;
}

.container {
  position: relative;
  width: 100%;
}

.print-detail {
  font-size: 16px;
}


.cover {
  display: block;
  height: 240px;
  width: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 240px;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.gallery-container-bottom {
  display: inline-grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 26px;
  padding-top: 40px;
  width: 90%;
  overflow: scroll;
}

.link {
  font-weight: 600;
}

.link:hover {
  color: #3798bf;
}

.pipe {
  color: white;
}

@media screen and (max-width: 1600px) {
  .cover {
    height: 200px
  } 
  .overlay {
    height: 200px;
  }
}